:root {
  /* Backgrounds */
  --bg-primary: #0f0f0f;
  --bg-secondary: #1a1a1a;
  --bg-card: #222222;
  --bg-card-hover: #2b2b2b;

  /* Cores principais */
  --primary: #7b2cbf;
  --primary-hover: #592583;

  --accent: #189fb9;
  --accent-hover: #02899b;

  /* Texto */
  --text-primary: #ffffff;
  --text-secondary: #cacaca;
  --text-muted: #a8a8a8;

  /* Bordas e divisões */
  --border: #424242;

  /* Estados */
  --success: #00ff88;
  --error: #ff4d4d;
  --warning: #ffc300;

  /* Medalhas */
  --color-gold: #d4af37;
  --color-silver: #c0c0c0;
  --color-bronze: #cd7f32;
}